



h1 {
    font-size: inherit;
}

body, html {
    background: #4f5f76;
    height: 100%;
  width: 100%;

    ::-webkit-scrollbar {
    width: 24px; 
    height: 8px; 
    background-color: rgba(50,70,100,0.9);
        border-radius: 9em;
}
    ::-webkit-scrollbar-thumb {
    background-color: rgba(30,50,80,0.8);
    border-radius: 9em;

}
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(214,214,214,0.8);
}
}
*,*:before,*:after{box-sizing:border-box;}
ul,li{list-style-type:none;}
.wrapper{margin-top:100px;}
.wrapper ul{;margin:0 auto;height:300px;overflow-x:hidden;overflow-y:scroll;padding-right:30px;}
.wrapper ul li{margin-bottom:20px;padding:10px 20px;background-color:rgba(255,255,255,0.65);position:relative;border-radius:10px;font:1em/1.6 "arial";clear:both;text-shadow:1px 1px 0 rgba(255,255,255,0.35);}
.wrapper ul li:nth-child(odd){float:left;margin-left:80px;}
.wrapper ul li:nth-child(even){float:right;margin-right:80px;color:rgba(255,255,255,0.9);text-shadow:1px 1px 0 rgba(0,0,0,0.75);background-color:rgba(255,255,255,0.3);}
.wrapper ul li:before,.wrapper ul li:after{position:absolute;content:"";}
.wrapper ul li:before{width:45px;height:45px;top:0;border-radius:50%;background-position:50% 50%;background-repeat:no-repeat;}
.wrapper ul li:nth-child(odd):before{left:-80px;
    background-image:url("/static/img/bo2.jpg");
    width: 45px;
    height: 45px;
    background-size: cover;
}
.wrapper ul li:nth-child(even):before{right:-80px;
    background-image:url("/static/img/bo.jpg");
    width: 45px;
    height: 45px;
    background-size: cover;
}

.wrapper ul li:after{width:0;height:0;top:15px;border-top:15px solid rgba(255,255,255,0.65);}
.wrapper ul li:nth-child(odd):after{left:-15px;border-left:15px solid transparent;}
.wrapper ul li:nth-child(even):after{right:-15px;border-top-color:rgba(255,255,255,0.3);border-right:15px solid transparent;}



li{
    }
    @keyframes ani {  0% {opacity: 0;}  100% {opacity: 1;}}


.container{

  filter: alpha(opacity=40);
background-position: right;
    background-size: 40% auto;
box-shadow: 2px 2px 55px 20px rgba(20,20,50,0.2);
  height: auto;
text-align: center;
    margin-top: 20px;
margin-left: auto;
    margin-right: auto;
margin-bottom: 15px;
  padding: 20px 20px;

border: 2px solid transparent;



    border-radius: 0px;
}
input:hover {
    color: rgba(40,40,64,0.67);
  background: rgba(180,180,204,0.8);
}
input {
  background: rgba(50,70,100,0.9);

  text-decoration: none;
  color: rgba(214,214,214,0.8);
  font-size: 1.2rem;
text-align: center;
  border: none;
  border-radius: 15px;
  height: 40px;
}

input, optgroup, select, textarea {
    margin: 0;
    /* font-family: inherit; */
    font-size: inherit;
    /* line-height: inherit;
     */
}

@media screen and (max-width: 1230px) {
    .container{
        max-width: 70%;
    }
    .wrapper ul {
        max-width: 70%;

    }
}

@media screen and (min-width: 1230px) {
    .container{
        max-width: 50%;
    }
    .wrapper ul {
        max-width: 50%;

    }
}
