<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/the1.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/the1.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/the1.png">
<head>
    <meta charset="UTF-8">
    <title>Mood</title>
</head>
<body>
<h1 style="text-align: center; color: rgba(214,214,214,0.8); padding-top: 9%">Что поделать | Чат-бот</h1>



<div class="wrapper">
  <ul>

    <li>Спроси меня "Что делать?", "Чем заняться?"</li>
    <li>Окей. Как станет скучно, напишу!!!</li>




    {% if user_input %}

        <li style="opacity: 0;animation: ani 2.5s forwards;animation-delay: 0.5s;">Я готов генерировать, уууу🥰</li>
        <li style="opacity: 0;animation: ani 3.5s forwards;animation-delay: 1s;"><p><strong></strong> {{ user_input }}</p></li>
        <li style="opacity: 0;animation: ani 4.5s forwards;animation-delay: 2s;"><p><strong></strong> {{ bot_response }}</p></li>
        </ul>
    {% endif %}
</div>
<div class="container">
<form method="post">
        <input type="text" name="user_input" style="width: 70%;" placeholder="Введите ваш вопрос">
        <input type="submit" style="color: aliceblue" value="Отправить|Очистить">
    </form>
</div>
<h1 style="text-align: center; color: rgba(214,214,214,0.8); padding-top: 7%; ">Используйте установленные вопросы: "что делать?", "чем заняться?", "что покушать?", "что приготовить?", "какой фильм посмотреть?", "куда пойти?", "да или нет?", "анекдот или цитата"<br>
    Какими вопросами дополнить чат-бота, ваши предложения <a class="btn" style="text-decoration: none; padding: 0; margin: 0;" href="https://vk.com/id201359102">VK</a></h1>
</body>
</html>